.login {
    display: flex;
    .row {
        margin: 0;
        width: 100%;
        >div {
            padding: 0;
        }
    }
    &_pic {
        width: 100%;
        padding-bottom: 100vh;
        position: relative;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-top: 150px;
        padding-bottom: 150px;
        &_wrap {
            max-width: 400px;
            width: 100%;
        }
        &_head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        &_title {
            font-size: 40px;
            font-weight: 900;
            margin: 0;
            font-family: $font-serif;
        }
        &_link {
            display: flex;
            gap: 4px;
            align-items: center;
            &_text {
                color: $primary-600;
                font-family: $font-serif;
                font-weight: 900;
                font-size: 14px;
            }
            &_icon {
                font-size: 16px;
                &::before {
                    color: $primary-600;
                }
            }
        }
        .input-item {
            label {
                width: 105px;
            }
            input {
                width: calc(100% - 105px);
            }
        }
        &_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;
        }
        &_forget {
            font-size: 14px;
            font-family: $font-serif;
            font-weight: 700;
            color: $primary-600;
            text-decoration: underline;
        }
        .icon-text {
            &_icon {
                font-size: 150px;
                text-align: center;
                display: block;
            }
            &_text {
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                font-family: $font-serif !important;
                margin-bottom: 70px;
            }
            &_btn {
                margin: 0 auto;
                padding: 12px 25px;
            }
        }
    }
    @media screen and (max-width:767px ) {
        &_pic {
            padding-bottom: 30%;
        }
        &_form {
            padding-top: 50px;
            &_title {
                font-size: 40px;
            }
            .icon-text {
                &_icon {
                    font-size: 100px;
                }
            }
        }
    }
}